.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test {
  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
}

.blue-bg {
  background: rgb(181, 210, 247);
  background: radial-gradient(
    circle,
    rgba(181, 210, 247, 1) 0%,
    rgba(72, 115, 157, 1) 100%
  );
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.dark-bg {
  background: rgb(135, 166, 204);
  background: radial-gradient(
    circle,
    rgba(135, 166, 204, 1) 0%,
    rgba(12, 23, 38, 1) 97%,
    rgba(12, 23, 38, 1) 100%
  );
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}
.offwhite-bg {
  background-color: #fdf4dc;
}
.menu-card {
  background: rgba(255, 255, 255, 0.4);
}

.menu-title {
  font-family: "grad";
  font-weight: 700;
}
