@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://use.typekit.net/ufd1nzq.css");

@layer components {
  .button-icon {
    @apply inline text-xl mb-1 mr-2;
  }
  .menu-label {
    @apply mb-1 text-pastelRed-300;
  }
  .menu-header {
    @apply text-center text-pastelRed-300 text-2xl mb-3;
  }
  .input-row {
    @apply flex flex-row justify-between m-2 mb-5;
  }
  .menu-text-input {
    @apply appearance-none caret-pastelRed-300 border rounded w-full mt-2 mb-5 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-pastelRed-100 focus:ring-2;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
